$z-fixed-menu: 100;
$tablets: 768px;
$phones: 480px;
$baseFontSize: 16px;
@import url(blocks/media.scss);
@import url(layout/normalize.css);
@import url(layout/base.scss);
@import url(blocks/header.scss);
@import url(blocks/site-menu.scss);
@import url(blocks/contacts.scss);
@import url(blocks/promo.scss);
@import url(blocks/btn.scss);
@import url(blocks/section.scss);
@import url(blocks/headline.scss);
@import url(blocks/benefits.scss);
@import url(blocks/reviews.scss);
@import url(blocks/form.scss);
@import url(blocks/fixed-menu.scss);

