* {
  box-sizing: border-box;
}
html{
  font-size:baseFontSize;

  @include tablets{
    font-size: 15px;
  }
  @include phones{
    font-size: 14px;
  }
}
html,
body {
  height: 100%;
}

body {
  font-family: 'Play', sans-serif;
  line-height: 1.42;
  font-weight: 400;
  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  display: inline-block;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: normal;
}

p {
  margin-top: 0;
}

img {
  display: block;
  max-width: 100%;
}

button {
  border: none;
  background: transparent;
  cursor: pointer;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.container {
  max-width: 940px;
  width: 95%;
  margin: 0 auto;
  position: relative;
}
.wrap{
  position: relative;
  width: 100%;
  min-width: height 100%;
  overflow: hidden;
}