.contact-phone {
  display: flex;
  align-items: center;
  font-size: rem(21px);
  color: #000;


  &:hover {
    color: #f5170e;
  }
}

.contact-phone_icon_elem {
  flex-shrink: 0;
  width: rem(12px);
  height: rem(11px);
  margin-right: rem(6px);

  &:hover {
    color: #f5170e;
  }
}
.contact-phone_text{
  white-space: nowrap;
}