.contact-phone {
  flex-shrink:0 ;
  display: flex;
  align-items: center;
  font-size: rem(21px);
  color: #000;


  &:hover {
    color: #f5170e;
  }
}
.contact-phone_icon{
  flex-shrink: 0;
}
.contact-phone_icon_elem {
  flex-shrink: 0;
  width: 12px;
  height: 11px;
  margin-right: rem(6px);

  &:hover {
    color: #f5170e;
  }
}
.contact-phone_text{
  white-space: nowrap;
}