.footer{
  padding-top: 50px;
  padding-bottom: 50px;
}
.footer__col{
  display: flex;
  justify-content: space-between;

}
.social{
  display: flex;
}
.social__item_pic{
  width: rem(36px);
  height: rem(36px);
 
}
.address{
  font-family: 'Play', sans-serif;
  color: black;
font-size: 18px;

}
.social__item{
  margin-right: 15px;
}