
.footer__col {
  display: flex;
  justify-content: space-between;
  padding-top: rem(50px);
  padding-bottom: rem(50px);
  @include phones{
    flex-direction: column;
    align-items: center;
  }
}

.social {
  display: flex;
}

.social__item_pic {
  width: rem(36px);
  height: rem(36px);

}

.address {
  font-style: normal;
  color: black;
  font-size: 18px;

}

.social__item {
  margin-right: 15px;
}

.contact-phone_icon{
  text-align: center;
}
.footer__menu-contacts{
  @include phones{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}