.contact-phone.header__phone-number{
  @include tablets{
    display: none;
  }
}
.header{
  display: flex;
 
  margin-bottom: rem(80px);
}
.logo{
  flex-shrink:0 ;
}

.header__phone-number{
  margin-left: auto;
}
