.promo__icons {
  @include tablets {
    display: none;
  }
}

.promo-section {
  background-color: #f5f5f5;

}

.promo__container {
  background: url(../img/MX452.png) right 1% bottom 50% no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: rem(26px) 0 rem(45px) 0;

  @include tablets {
    background-image: none;
  }
}

.promo__text-content {
  width: 45%;
  margin-bottom: rem(90px);

  @include tablets {
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    &:before {
      display: block;
      content: "";
      background: url(../img/MX452.png) center center / contain no-repeat;
      margin-bottom: rem(16px);
      width: 70%;
      height: 80%;
      flex-shrink: 0;

      @include phones {
        width: 65%;
        height: 42%;
        flex-shrink: 0;
      }
    }
  }
}

.promo__title {
  font-size: rem(48px);
  color: #000;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: rem(20px);
  text-transform: uppercase;

  @include tablets {
    max-width: 613px;
  }
  @include phones{
    font-size: rem(41px);
  }
}

.promo__text {
  font-size: rem(18px);
  color: #000;
  margin-bottom: rem(30px);
  padding-right: 10%;

  @include tablets {
    padding: 0;
    max-width: 319px;
  }

  @include phones {
    padding: 0 16%;
  }
}



.features {
  display: flex;

}

.features__item {
  margin-right: rem(30px);

  &:last-child {
    margin-right: 0;
  }
}

.feature__icon {
  width: rem(44px);
  height: rem(44px);
  margin-right: rem(7px);
}

.feature {
  display: flex;
}

.feature__text {
  font-size: rem(16px);
  max-width: rem(100px);
}