.section {
  height: 100vh;
  min-height: rem(650px);
  display: flex;
  flex-direction: column;
  justify-content: center;

  &_font-color_white {
    color: white;
    .section__title{
      color: inherit;
    }
  }
}

.section__title {
  font-size: rem(48px);
  font-weight: bold;
  margin-bottom: rem(60px);
  text-align: center;
  text-transform: uppercase;
  color: black;
  @include phones{
    font-size: rem(41px);
  }
  @include phonesSmall{
    font-size: rem(32px);
    margin-bottom: rem(20px);
  }
}