.site-menu{
  margin-left: rem(39px);
  padding-top: rem(12px);
  @include tablets{
    display:none
  }
}

.site-menu__item {
  margin-right: rem(27px);
  margin-bottom: 10px;
}

.site-menu__item:last-child {
  margin-right: 0;
}

.site-menu__link {
  font-size: rem(16px);
  color: black;
  white-space: nowrap;

}

.site-menu__list {
  flex-wrap: wrap;
  display: flex;
  align-items: center;
  list-style: none;
  justify-content: center;
}