.benefits {
  display: flex;
}

.benefits-item {
  flex: 1;
  padding: 0 2%;
  position: relative;
}
.benefits-item:before {
  content: url(../../img/decor.png);
  position: absolute;
  top: rem(50px);
  right: 0;
  transform: translateX(50%);
}
.benefits-item:first-child {
  padding-left: 0;
}
.benefits-item:last-child {
  padding-right: 0;
}
.benefits-item:last-child:before {
  display: none;
}

.benefit {
  text-align: center;
}

.benefit__img-wrap {
  display: inline-flex;
  width: rem(126px);
  height: rem(126px);
  position: relative;
  background-color: #f5f5f5;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: rem(26px);
}

.benefit__icon {
  width: rem(58px);
  height: rem(60px);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.benefit__title {
  font-size: rem(24px);
  color: black;
  font-weight: bold;
  margin-bottom: rem(38px);
}

.benefit__desc {
  font-size: rem(16px);
  color: #666666;
}