.btn {
  background-color: #da0100;
  font-size: rem(16px);
  font-weight: bold;
  color: white;
  padding: rem(20px) rem(40px);
  border-radius: rem(30px);
  text-transform: uppercase;
  border: none;
  cursor: pointer;
}

.btn:hover {
  background-color: #f5170e;
  transition: 1s;
}