.contact-phone {
  display: flex;
  align-items: center;
  font-size: 21px;
  color: #000;


  &:hover {
    color: #f5170e;
  }
}

.contact-phone_icon_elem {
  width: 12px;
  height: 11px;
  margin-right: 6px;

  &:hover {
    color: #f5170e;
  }
}