.fixed-menu{
  position: fixed;
  top: 20%;
  right: 3%;
  z-index: $z-fixed-menu;
}
.fixed-menu__item{
  margin-bottom: 5px;
  &_active{
    .fixed-menu__link{
border-color:  #e01f3d;
    }
  }
}
.fixed-menu__link{
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border:1px solid transparent;
  display: block;
  position: relative;
  &:before{
    content: "";
    display: block;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: #999999;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% ,-50%);


  }
}