.headline__title{
  margin-bottom: 5px;
 

}
.headline__subtitle{
  font-size: 18px;
  color: #6666;
  text-align: center;
  padding: 0 19%;
  margin-bottom: 57px;
}
.headline{
  padding-top: 100px;
  text-align: center;
}