.headline__title {
  margin-bottom: rem(5px);
}

.headline__subtitle {
  font-size: rem(18px);
  color: #6666;
  text-align: center;
  padding: 0 19%;
}

.headline {
  margin-bottom: rem(57px);
  text-align: center;
}