.promo {
  margin-bottom: 243px;
}

.promo__text-content {
  width: 45%;
}

.promo__title {
  font-size: 48px;
  color: #000;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 37px;
  text-transform: uppercase;
}

.promo__text {
  font-size: 18px;
  color: #000;
  margin-bottom: 44px;
  max-width: 322px;
}

.promo__btn {
  margin-bottom: 100px;
}