.promo-section {
  background: url(../../img/MX452.png) left 74% bottom 30% no-repeat;
  background-color: #f5f5f5;
}

.promo__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 26px 0 45px 0;
}

.promo__text-content {
  width: 45%;
  margin-bottom: 90px;
}

.promo__title {
  font-size: 48px;
  color: #000;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.promo__text {
  font-size: 18px;
  color: #000;
  margin-bottom: 30px;
  padding-right: 10%;
}

.features {
  display: flex;
}

.features__item {
  margin-right: 30px;
}
.features__item:last-child {
  margin-right: 0;
}

.feature__icon {
  width: 44px;
  height: 44px;
  margin-right: 7px;
}

.feature {
  display: flex;
}

.feature__text {
  font-size: 16px;
  max-width: 100px;
}