.site-menu__item {
  margin-right: 27px;
}

.site-menu__item:last-child {
  margin-right: 0;
}

.site-menu__link {
  font-size: 16px;
  color: black;

}

.site-menu__list {
  display: flex;
  justify-content: space-between;
  list-style: none;
}